<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cosmo/bootstrap.min.css" rel="stylesheet" />
    </head>

<div class="container-fluid">
<div class="page-header">
  <h1>SOUND KE<small>1.0</small></h1>
  <p class="lead">Based on <a href="" target="_blank">Kenyan Entertainment</a> by <a href="" target="_blank">Denver John</a>.</p>

    <div class="form-group"><a href="{% url 'STalk:index' %}">
        <button type="submit" class="btn btn-info" style="padding-right:10px" >Home</button>
    </a>
    </div>

  </div>

  <div class="row">
<div class="col-sm-4">

<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle x collapsed" data-toggle="collapse" data-target="#navbar-collapse-x">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="{% url 'STalk:login_deejay' %}">Deejay Login</a>
</div>
</nav>

</div><!-- .navbar-collapse -->
</nav>

</div><div class="col-sm-4">

<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle uarr collapsed" data-toggle="collapse" data-target="#navbar-collapse-uarr">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="{% url 'STalk:login_event' %}">
    <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp;Event Login
</a>
</div>
</nav>

</div><div class="col-sm-4">

<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle larr collapsed" data-toggle="collapse" data-target="#navbar-collapse-larr">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="{% url 'STalk:login_mc' %}">
    <span class="glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp;MC's Login
</a>
</div>

</nav>

</div></div><div class="row">

<div class="col-sm-4">

<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle rarr collapsed" data-toggle="collapse" data-target="#navbar-collapse-rarr">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="{% url 'STalk:login_speaker' %}">
    <span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>&nbsp;Speakers Login
</a>
</div>

</nav>

</div><div class="col-sm-4">

<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle plus collapsed" data-toggle="collapse" data-target="#navbar-collapse-plus">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="{% url 'STalk:login_hyper' %}">
    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>&nbsp;Hype Login
</a>
</div>

</nav>

</div><div class="col-sm-4">

<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<button type="button" class="navbar-toggle minus collapsed" data-toggle="collapse" data-target="#navbar-collapse-minus">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="navbar-brand" href="{% url 'STalk:login_event' %}">
    <span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>&nbsp;Event Organizers Login
</a>
</div>

</nav>

</div></div></div>

